body{
	font-family: 'Open Sans', sans-serif; ;

}


#nav-1{
	border:5px solid #a5c926;
	width:100%;
	height:5%;
	margin-top:-10px;
	margin-left:-5px;
	background-color:#a5c926;
	display:flex;-homepage
	position: fixed;
	overflow: hidden;
	 position: absolute;
  	top: 0;
  	  float: left;
}

.fade-in-image:hover {
  opacity: 50%;
  transition: opacity 1s;
    opacity: 0.7;
    
}

.overimage{
	
	width:700px;
	height:300px;
	transform:translateY(-550px);
	margin-left:350px;
	background-color:white;
	border-radius:20px;
	font-family: 'Open Sans', sans-serif;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	
}

.overimage > div{
	margin:20px 230px;
	margin-top:50px 10px 10px 10px;
	padding:20px;
	font-style:bold;
}

.overimage >h1{
	text-align:center;
}

.overimage > a > button{
	width:200px;
	height:50px;
	border-radius:10px;
	margin-left:250px;
	font-family: 'Open Sans', sans-serif;
	background-color: #a5c926;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#nav-1 > div{
	margin:10px;
	margin-left:40px;
}

.nav-logo img{
	width:70px;
	height:50px;
	border-radius:50%;
	margin-left:100px;
}

#nav-2{
	justify-content: space-around;
	width: 600px;
	  height: 100px;
	  display: flex;
	  justify-content: space-between;
	  margin-left:30px;
	 margin-top:30px
	 
	 
}

#nav-2 > h3{
	margin-top:28px;
}








.cart{
	margin-left:90%;
	margin-top:-68px;
}

#box{
	display:flex;
	margin:10px 00px 0px 10px;
	padding:0px 10px 0px 0px;
	justify-content:space-between;
	transform:translateY(-170px);
	width:100%;
	margin:0px;
	background-color:white;
	border:5px solid white;
	
}



.big-box{
	
	width:80%;
	height:250px;
	border-radius:25px;
	margin:30px;
	background-color: #FFC300 ;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.big-box  >  h1{
	margin-left:300px;
	margin-top:-130px;

}

.big-box > a >button{
	margin-left:300px;
	width:150px;
	height:50px;
	background-color:white;
	border-radius:30px;
}


.big-box1{
	
	width:80%;
	height:250px;
	border-radius:25px;
	margin:30px;
	background-color:#F33A6A;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.big-box1  >  h1{
	margin-left:100px;
	margin-top:-130px;

}

.big-box1 > a > button{
	margin-left:200px;
	width:150px;
	height:50px;
	background-color:white;
	border-radius:30px;
}







.big-box img{
	margin-left:40px;
	
}
.big-box1 img{
	margin-left:350px;
}

.big-box1:hover {
  opacity: 100%;
  
}





.teddy{
	width:230px;
	height:230px;
	margin-top:-40px;
}

.teddy1{
	width:230px;
	height:230px;
	margin-top:-40px;
	margin-left:220px;
}





.stuffed_animals{
	display:flex;
	margin:30px;
	
}

.stuffed_animals img{

	width:300px;
	height:300px;
	display:flex;
}

.stuffed_animals > div{
	margin:10px;
	padding:13px;
	
}
.teddy-bear{
	
	height:400px;
	text-align:center;
	margin:40px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.stuffed_animals button{
	margin-top:20px;
	width:100px;
	height:40px;
	border-radius:12px;
	background-color:#a5c926;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.animals  >button{
	transform:translateY(-50px);
	width:100px;
	height:40px;
	border-radius:12px;
	background-color:#a5c926;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	

}


.animals1  >button{
	transform:translateY(-50px);
	width:100px;
	height:40px;
	border-radius:12px;
	background-color:#a5c926;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	

}
.mega-plush{
	
	text-align:center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cute-dog{
	
	text-align:center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.little-friend{
	
	text-align:center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.animals{
	margin-top:-170px;
	margin-left:30px;
	background-color:white;
	border:5px solid white;
}

.animals > button{
	margin-left:90%;
}
hr{
	width:96%;
	transform:translateX(-20px);

}



.stuffed_animals1{
	display:flex;
	margin:30px;
	margin-top:70px;
	
}

.stuffed_animals1 img{

	width:300px;
	height:300px;
	display:flex;
}

.stuffed_animals1 > div{
	margin:10px;
	padding:13px;
	
}
.teddy-bear1{
	
	height:400px;
	text-align:center;
	margin:40px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.stuffed_animals1 button{
	margin-top:20px;
	width:100px;
	height:40px;
	border-radius:12px;
	background-color:#a5c926;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	
}


.mega-plush1{
	
	text-align:center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.cute-dog1{
	
	text-align:center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.little-friend1{
	
	text-align:center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.animals1{
	
	margin-left:30px;
	border:5px solid white;
}

.animals1 > button{
	margin-left:90%;
}



.madhu{
 	position:.fixed;

	height:100%;
	width:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

	}








body, html {
	  height: 100%;
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
	  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),url("https://assets.website-files.com/5badda2935e11303a89a461e/5baf3d57ace69c149bb331b8_tim-gouw-165547-unsplash.jpg");
	  height: 90%;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position: relative;
	  margin-top:90px;
}

.hero-text {
	  text-align: center;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  color: white;
}

.hero-text button {
	  border: none;
	  outline: 0;
	  display: inline-block;
	  padding: 10px 25px;
	  color: black;
	  background-color: #ddd;
	  text-align: center;
	  cursor: pointer;
}

.hero-text button:hover {
	  background-color: #555;
	  color: white;
}


.ecommerce{
	border:5px solid white;	
	margin-top:50px;
	padding:20px 20%;
	text-align:center;
	

}
.ecommerce1{
	padding:20px;
}	



.footer2{
	

}





.free{
	border:5px solid white;
	width:90%;
	height:60%;
	display:flex;
	padding:30px;
	font-family:ðð¨ð¥ð ð‹ðžð­ð«ðšð¬ ;
	

}

.free > div{
	padding:10px;
	margin:50px;
	
}

.free-div{
	
	border:5px solid white;
	border-radius:30px;

}


.free-div1{

	width:400px;
	height:400px;
	border:5px solid white;
	border-radius:30px;
	
}


.free-div1 img{

	width:400px;
	height:400px;
	border-radius:30px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

	
}

.free button{
	margin-top:20px;
	width:100px;
	height:40px;
	border-radius:12px;
	background-color:#a5c926;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}


.subscribe{
	
	height:150px;
	width:1000px;
	display:flex;
	margin:60px 200px; 
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

	
	

}

.subscribe1{
	
	height:100px;
	width:500px;
	margin:10px;


}

.subscribe2{
	
	height:100px;
	width:400px;
	margin:40px 20px;
	display:flex;



}

.subscribe1 >h2{

	margin:20px;

}

.one{
	border-radius:60px;
}

.two > button{

	width:140px;
	height:40px;
	background-color:#a5c926;
	border-radius:20px;
	margin-top:12px;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}


.last-pictures{
	
	width:0%;
	height:27%;
	display:flex;
	margin:10px 40px 0px 50px;


}



.image > img{
	  
	width:200px;
	height:250px; 
	padding:20px;
	margin-left:-10px;
	 border-radius: 30px;
	 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

.more{
	width:200px;
	height:50px;
	background-color:#a5c926;
	border-radius:20px;
	margin:120px 30px 30px 600px;
}
 
 
 .footer1{
 	background-color:#a5c926;
 	width:100%;
 	height:35%;

 
 }



