body{
	font-family: 'Open Sans', sans-serif; ;

}


#nav-1{
	border:5px solid #a5c926;
	width:100%;
	height:5%;
	margin-top:-10px;
	margin-left:-5px;
	background-color:#a5c926;
	display:flex;-homepage
	position: fixed;
	overflow: hidden;
	 position: absolute;
  	top: 0;
  	  float: left;
}



#nav-1 > div{
	margin:10px;
	margin-left:40px;
}

.nav-logo img{
	width:70px;
	height:50px;
	border-radius:50%;
	margin-left:100px;
}

#nav-2{
	justify-content: space-around;
	width: 600px;
	  height: 100px;
	  display: flex;
	  justify-content: space-between;
	  margin-left:30px;
	 margin-top:30px
	 
	 
}

#nav-2 > h3{
	margin-top:28px;
}


.cart{
	margin-left:90%;
	margin-top:-68px;
}


.display{

	display:flex;
	margin:5px 0px;
	padding:10px 20px;
	justify-content:flex-end;
	
}

.display > div{

	padding:10px 30px;

}

.toys {
	padding:5px 30px;

}


.boxes{

	border:1px solid gray;
	width:93%;
	height:30px;
	border-radius:30px;
	display:flex;
	padding:10px 20px;
	margin-left:20px;


}

.boxes > div{

	padding:10px;

}

.big-div{
	
	
	padding:100px 10px 00px 300px;
	height:140%;
	
}


.space > div{
	margin:10px 10px;
	padding:10px 10px 10px 10px; 

}

.weight{

	border:5px solid red;


}

.picture img{

	width:300px;
	height:300px;
	margin-left:600px;
	margin-top:-300px;

}





.more{
	width:200px;
	height:50px;
	background-color:#a5c926;
	border-radius:20px;
	margin:0px 0px 50px 600px;
	margin-top:-80px;
}
 
 
 .more1{
	width:200px;
	height:50px;
	background-color:#a5c926;
	border-radius:20px;
	
	margin-top:-10px;
}
 
 
 .footer1{
 	background-color:#a5c926;
 	width:100%;
 	height:35%;
 	margin-top:40px;

 
 }





.introduce{
	border:5px solid white;
	margin:20px;

}

.self{
	text-align:center;
}


.free{
	border:5px solid white;
	width:90%;
	height:60%;
	display:flex;
	padding:30px;
	font-family:ðð¨ð¥ð ð‹ðžð­ð«ðšð¬ ;
	

}

.free > div{
	padding:10px;
	margin:50px;
	
}

.free1{
	border:5px solid white;
	width:90%;
	height:60%;
	display:flex;
	padding:30px;
	font-family:ðð¨ð¥ð ð‹ðžð­ð«ðšð¬ ;
	flex-direction: row-reverse;
	margin-top:-60px;
	

}

.free1 > div{
	padding:30px;
	margin:80px;
	
}

.free-div{
	
	border:5px solid white;
	border-radius:30px;

}


.free-div1{

	width:400px;
	height:400px;
	border:5px solid white;
	border-radius:30px;
	
}


.free-div1 img{

	width:400px;
	height:400px;
	border-radius:30px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

	
}

.free button{
	margin-top:20px;
	width:100px;
	height:40px;
	border-radius:12px;
	background-color:#a5c926;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}




