.aqua{
	background-color:skyblue;
	
}
.container{
	width:400px;
	padding:20px 10px;
	margin-right:20px;	
}
.black{
	background-color:black;
}
.inputbox{
	margin: 20px 0px;
}

.details{
	width: 90%;
	font-size: 20px;
	outline: none;
	background-color: rgba(0, 0, 0 , 0);
	border: none;
	border-bottom: 1px solid #FFF;
	color: white;
	margin-left:20px;
	padding:0px 0px 15px 0px;
}
.Send{
	background-color:skyblue;
	border :1px solid white;
	color: white;
	padding: 10px 150px 10px 150px;
	border-radius: 2px;
	margin-top: 15px;
	font-size: 25px;
	font-weight: bold ;
	margin-left:20px;
}

p{
	color:rgba(255, 255, 255, 0.6);
        font-weight: bold; 
        padding-left:20px;
	font-size: 20px;

}
.container2{
	padding: 25px 0px;
	color:skyblue;
	font-size: 40px;
	text-align: center;
	background-color:black;
	margin-top: 20px;
}
.details1{
	width: 90%;
	font-size: 20px;
	outline: none;
	background-color: rgba(0, 0, 0 , 0);
	border: none;
	border-bottom: 1px solid #FFF;
	color: white;
	margin-left:20px;
	padding:0px 0px 15px 0px;
}

.Send1{
	background-color:skyblue;
	border :1px solid white;
	color: white;
	padding: 8px 70px 2px 70px;
	border-radius: 2px;
	margin-top: 15px;
	font-size: 25px;
	font-weight: bold ;
	margin-left:20px;
}

.inputbox2{
	margin: 20px 0px;
}
.spacebar{
	display:flex;
}

.container3{
	width:200px;
	padding:105px 90px 20px;

		
}
.inputbox3{
	margin: 20px 0px;
}


.container4{
	width:100px;
	padding:20px 90px 10px;
	display:flex;
	margin-bottom:150px;
		
}

#display{
display:flex;
}
